<footer class="navbar-light" style="background-color: pink;margin-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 offset-md-1 col-lg-3 offset-lg-1 col-xl-3 offset-xl-1">
                <br>
                <h4>社区</h4><br>
                <a href="https://github.com/97Hanayo/LiveStation--Simple" target="_blank"
                    style="text-decoration:none;color: white;">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://bbs.hanayo.club" target="_blank" style="text-decoration:none;color: white;">华软论坛</a>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
                <br>
                <h4>资源</h4><br>
                <span>谷歌浏览器：</span>
                <a href="../tools/64.0.3282.140_chrome64.exe" style="text-decoration:none;color: white;">64位</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="../tools/64.0.3282.140_chrome32.exe" style="text-decoration:none;color: white;">32位</a><br><br>
                <span>火狐浏览器：</span>
                <a href="../tools/Firefox Setup 58.0.2 x64.exe" style="text-decoration:none;color: white;">64位</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="../tools/Firefox Setup 58.0.2 x32.exe" style="text-decoration:none;color: white;">32位</a><br><br>
                <a href="../tools/setup.exe" style="text-decoration:none;color: white;">直播工具包</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="../tools/new.zip" style="text-decoration:none;color: white;">HLS直播更新</a><br><br>
                <a href="../tools/HLS.pdf" target="_blank" style="text-decoration:none;color: white;">直播教程</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                <br>
                <h4>关于本站</h4><br>
                本直播网始祖&nbsp;&nbsp;
                <a href="https://github.com/stevennight/Stevennight_Live" target="_blank"
                    style="text-decoration:none;color: white;">@stevennight</a>
                &nbsp;&nbsp;<br><br>
                感谢七号，纸船和所有群友在我重构的时候提供的帮助(●'◡'●)<br><br>
                有机会的话，会把直播网更加完善<br><br>★★请使用谷歌，火狐等兼容性高的浏览器★★
            </div>
        </div>
        <div class="dropdown-divider" style="margin-top: 20px"></div>
        <div class="text-center" style="margin-top: 30px;">
            <b>
                Copyright © 2017-2019
                <a href="./" target="_blank" style="text-decoration:none;color: black;">hanayo.club</a>
                All rights reserved.
                <!--<br><br><br>
                粤ICP备18018995号-1-->
            </b>
            <br><br>
            <b>Live2d model support by <a
                    href="https://steamcommunity.com/sharedfiles/filedetails/?id=970240653&searchtext=Teemodisi"
                    target="_blank" style="text-decoration:none;color: white;">@Teemodisi</a></b>
            <br><br>
        </div>
    </div>
</footer>